@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    line-height: 1.5;
  }

  .block--skewed-right {
    /* padding-bottom: calc(1rem); */
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
  }

  .block--skewed-left {
    /* padding-bottom: calc(1rem); */
    /* clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%); */
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 9% 90%, 30% 60%, 0% 100%);
  }

  .banner--skewed {
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
  }

  .input {
    @apply mt-2 block w-full px-3 py-2 bg-white border border-slate-300 rounded-md text-sm shadow-sm 
        placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-1 focus:ring-sky-500
        disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none
        invalid:border-pink-500 invalid:text-pink-600
        focus:invalid:border-pink-500 focus:invalid:ring-pink-500 text-gray-600;
  }

  .nav__item {
    @apply hover:text-white;
  }

  .nav__item2 {
    @apply border-t hover:text-white;
  }

  .link {
    @apply cursor-pointer hover:underline;
  }

  .icon {
    @apply w-5 md:w-8 h-5 md:h-8;
  }
}
